{{ define "main" }}
<div class="container">

  <h3 class="page-main-title">Working papers</h3>
  <hr>

  {{ $sections := split .RawContent "## Pre-PhD publications" }}

  {{ index $sections 0 | markdownify }}

  <hr>

  <h3 class="page-main-title">Pre-PhD publications</h3>
  <hr>

  {{ if gt (len $sections) 1 }}
    {{ index $sections 1 | markdownify }}
  
<style>
.page-main-title {
    color: #20282a !important;
    font-family: Lato, sans-serif;
    font-size: 2.6rem !important;
    font-weight: 300 !important;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
</style>

{{ end }}

</div>
{{ end }}
